# データの確認

In [1]:
import pandas as pd

In [2]:
# /Users/harashinji/Desktop/Kaggle_csiro_biomass/data/train.csv
# /Users/harashinji/Desktop/Kaggle_csiro_biomass/notebooks/00_eda.ipynb
train_df = pd.read_csv('../data/train.csv')
train_df.head()

,sample_id,image_path,Sampling_Date,State,Species,Pre_GSHH_NDVI,Height_Ave_cm,target_name,target
0,ID1011485656__Dry_Clover_g,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Clover_g,0.0000
1,ID1011485656__Dry_Dead_g,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Dead_g,31.9984
2,ID1011485656__Dry_Green_g,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Green_g,16.2751
3,ID1011485656__Dry_Total_g,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Total_g,48.2735
4,ID1011485656__GDM_g,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,GDM_g,16.2750

In [3]:
train_df.dtypes

sample_id         object
image_path        object
Sampling_Date     object
State             object
Species           object
Pre_GSHH_NDVI    float64
Height_Ave_cm    float64
target_name       object
target           float64
dtype: object

In [5]:
train_df.shape

(1785, 9)

In [6]:
train_df['image_path'].nunique()

357

In [7]:
train_df.describe()

       Pre_GSHH_NDVI  Height_Ave_cm       target
count    1785.000000    1785.000000  1785.000000
mean        0.657423       7.595985    24.782295
std         0.151972      10.273725    25.823738
min         0.160000       1.000000     0.000000
25%         0.560000       3.000000     4.818200
50%         0.690000       4.000000    18.200000
75%         0.770000       7.000000    35.940600
max         0.910000      70.000000   185.700000